<nz-layout>
  <nz-header class="header">
    <div class="logo">SmartBooking</div>
    <ul nz-menu nzTheme="white" nzMode="horizontal">
      <li nz-menu-item>Главная</li>
      <li nz-menu-item>Календарь</li>
      <li nz-menu-item>Тарифы и наличие мест</li>
      <li nz-menu-item>Брони и заявки</li>
      <li nz-menu-item>Турагенства</li>
      <li nz-menu-item>Гостиницы</li>
    </ul>
    <div class="menu-icons">
        <nz-avatar nz-menu nzSize="large" nzIcon="home" class="menu-icon"></nz-avatar>
        <nz-avatar nz-menu nzSize="large" nzIcon="bell" class="menu-icon"></nz-avatar>
        <nz-avatar nz-menu nzSize="large" nzIcon="user" class="menu-icon"></nz-avatar>
    </div>
  </nz-header>
  <div class="toolbar">
    <div class="title-steper">
      Создание новой брони
    </div>
    <div class="steper">
      <nz-steps>
        <nz-step nzTitle="" nzDescription=""></nz-step>
        <nz-step nzTitle="" nzDescription=""></nz-step>
        <nz-step nzTitle="" nzDescription=""></nz-step>
      </nz-steps>
    </div>
  </div>
  <nz-content>
    <div class="inner-content">
      <div class="select-toolbar">
        <nz-select nzPlaceHolder="Не выбрано" class="custom-select">
          <nz-option nzValue="lucy" nzLabel="Option"></nz-option>
        </nz-select>
        <nz-date-picker nzPlaceHolder="Дата заезда" [(ngModel)]="date" (ngModelChange)="onChange($event)"
          class="custom-select"></nz-date-picker>
        <nz-date-picker nzPlaceHolder="Дата выезда" [(ngModel)]="date" (ngModelChange)="onChange($event)"
          class="custom-select"></nz-date-picker>
        <nz-select nzPlaceHolder="Все тарифы" class="custom-select">
          <nz-option nzValue="lucy" nzLabel="Option"></nz-option>
        </nz-select>
        <nz-select nzPlaceHolder="Все типы номеров" class="custom-select">
          <nz-option nzValue="lucy" nzLabel="Option" class="custom-select"></nz-option>
        </nz-select>
        <button nz-button nzType="primary" class="custom-select">Поиск</button>
      </div>
      <div class="content">
        <nz-card class="rooms" nzTitle="Номера">
          <p>Добавьте номер, чтобы начать бронирование</p>
        </nz-card>
        <nz-card class="body">
          <div class="info">
            <div>
              <i nz-icon nzType="calendar" class="icon" nzTheme="outline"></i>
            </div>
            <div>Добавьте даты выезда-заезда <br> чтобы начать бронирование</div>
          </div>
        </nz-card>
      </div>
      <div class="total">
        <nz-card class="total-info">
          <div class="total-info-body">
            <div class="total-item">
              <span class="total-title">
                Итого без налогов
              </span>
              <span class="total-value">
                $ 0.00
              </span>
            </div>
            <div class="total-item">
              <span class="total-title">
                Итого включая налоги
              </span>
              <span class="total-value">
                $ 0.00
              </span>
            </div>
            <div class="total-item">
              <span class="total-title">
                Предложенный депозит
              </span>
              <span class="total-value">
                $ 0.00
              </span>
            </div>
            <div class="total-item last">
              <span class="total-title">
                Итого к оплате
              </span>
              <span class="total-value">
                $ 0.00
              </span>
            </div>
          </div>
        </nz-card>
      </div>
      <div class="step-control">
          <button nz-button nzType="primary" disabled class="next-step">Следующий этап</button>
      </div>
    </div>
  </nz-content>
  <nz-footer>Ant Design ©2019 Implement By Angular</nz-footer>
</nz-layout>