.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  padding: 0 50px;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: calc(100vh - 186px);
}

.header {
  background-color: #fff;
  display: flex;
}

.toolbar {
  display: flex;
  padding: 15px 50px;
  justify-content: space-between;
}

.steper {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.title-steper {
  font-weight: 600;
  font-size: 18px;
}

.select-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

.custom-select {
  width: 15%;
}

.content {
  display: flex;
  justify-content: space-between;
}

.rooms {
  width: 15%;
}

.body {
  width: 83%;
}

.info {
  text-align: center;
  padding: 15px 0px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.45);
}

.info .icon {
  font-size: 40px;
}

.total {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0px;
}

.total .total-info {
  width: 83%;
}

.total-item {
  display: flex;
  flex-direction: column;
}

.total-item.last {
  color: #1890ff;
}

.total-info-body {
  display: flex;
  justify-content: space-around;
}

.total-value {
  font-weight: bold;
  font-size: 14px;
}

.total-title {
  font-size: 14px;
}

.menu-icon {
    margin-left: 10px;
    line-height: 40px;
}

.menu-icons {
    margin-left: auto;
}

.step-control {
    display: flex;
}

.next-step {
    margin-left: auto;
    margin-right: auto;
}