/* You can add global styles to this file, and also import other style files */

.rooms .ant-card-head-wrapper {
  text-align: center;
}

.rooms .ant-card-head {
  background: #fafafa;
}

.body .ant-card-body {
    background: #fafafa;  
}
